<%= form_with(model: house, local: true, class: 'house-form') do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :house_location %>
  </div>

  <%= form.hidden_field :neighborhood_id %>

  <%# form.select :neighborhood_id, options_from_collection_for_select(Neighborhood.all, "id", "name" ), id: :house_neighborhood_id %>


  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.text_field :bedrooms, id: :house_bedrooms %>
  </div>

  <div class="field">
    <%= form.label :bathrooms %>
    <%= form.text_field :bathrooms, id: :house_bathrooms %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :house_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
