<!DOCTYPE html>
<html>
  <head>
    <title>Hillow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Hillow</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Neighborhoods", neighborhoods_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Houses", houses_path, class: 'nav-link' %>
        </li>
      </ul>

    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
